<script src="/js/index.js"></script>
</body>
<footer>
    <div class="line"></div>

    <div class="columnsFooter">
      <div class="colOne">
        <span class="brandName">Bon Plated</span><br>
        <p class="list para">
          At Bon Plated, cooking isn’t about perfection, but about enjoying the process and caring for health in a way that feels natural and joyful. We believe that food cooked with love is the healthiest food of all.
        </p>
      </div>

      <div class="colTwo">
        <span class="colName">Quick Actions</span>
        <ul class="list">
          <li><a href="">Go to top</a></li>
          <li><a href="">Submit form</a></li>
          <li><a href="">Browse by Category</a></li>
        </ul>
      </div>

      <div class="colThree">
        <span class="colName">We Are Social</span>
        <ul class="list">
          <li><a href="">Instagram</a></li>
          <li><a href="">Tik Tok</a></li>
          <li><a href="">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </footer>