<body>
<nav class="navigation">
    <div class="navElements">
      <p class="brandNamewhite">Bon Plated</p>
      <div class="navRight">
        <div class="searchBox">
          <input type="text" placeholder="search by ingredient">
          <button class="btn" type="submit">Search</button>
        </div>
        <div class="navLink">Entree</div>
        <div class="navLink">Plats Principaux</div>
        <div class="navLink">Dessert</div>
      </div>
    </div>
  </nav>
  