  <div class="allContent">
    <h1>Bruschetta</h1>
    <p>Une entrée italienne classique</p>

    <div class="image-container">
      <img src="bruschetta.png" alt="Bruschetta-image" />
    </div>

    <div class="section">
      <h2 class="heading">Ingredients</h2>
      <p>Pain,Tomates, Basilic, Huile d'olive</p>
    </div>

    <div class="section">
      <h2 class="heading">Étapes</h2>
      <ul>
        <li>Grillez le pain</li>
        <li>Ajoutez les tomates et le basilic.</li>
        <li>Arrosez d'huile d'olive.</li>
      
        
    </div>

    <div class="section">
      <h2 class="heading">Commentaires</h2>
      <div class="avis">
     
      <div class="eachClient">
      <p class="userName">Alice</p>
      <p class="date">27 July 2025</p>
      <p> Délicieux et facile à préparer !</p>
      </div>

      <div class="eachClient">
      <p class="userName">Alice1</p>
      <p class="date">29 July 2025</p>
      <p> Délicieux et facile à préparer !</p>
      </div>
      </div>
    </div>