<%- include("../partials/head", {title: "Welcome Bon Plated" }) %>
    <div class="container">
        <h1 Desserts h1></h1>

        <div class="cards">
            <p>Tiramisu</p>
            <a href="#Tiramisu">

                <img src="/public/Dessert-image1.png" alt="">
            </a>
        </div>

        <div class="card">
            <p>Salade Grecque</p>
            <a href="/SaladeGrecque">
                <img src="/public/Desserts-image2.png" alt="">
            </a>
        </div>
    </div>
    </div>