<%- include("../partials/head", {title: "Welcome Bon Plated" }) %>
    
<div class="container">
    <div class="banner-content">
    <img src="image3.png" alt="maincourse-image" class="image"/>
    </div>

    <h1> Desserts </h1>
    
        <div class="cards">
   <% desserts.forEach((dessert) => { %>
        <div class="card">    
            <a href="/desserts/<%= dessert.id %>"><%= dessert.title %></a>
            <!-- <img src="../Dessert-image2.png" alt=""> -->
            </div>
<% }) %>



    </div>
</div>

    <%- include ("../partials/footer") %>