<%- include("../partials/head", {title: "Welcome Bon Plated" }) %>
    
<div class="container">
    <h1> Desserts </h1>
   <% Desserts.forEach((Desserts) => { %> 
        <div class="card">
             
            <a href="/Desserts/<%= Desserts.id %>"><%= Desserts.name %></a>
            <img src="/Entree-image2.png" alt="">
        </div>
<% }) %>
    </div>
</div>

    <%- include ("../partials/footer") %>