
<%- include("../partials/head", {title: "Welcome Bon Plated"}) %>

<div>
    <h1 Desserts h1></h1>

    <div class="container">
        <div>
          <a href="#Tiramisu"><p>Tiramisu</p></a>
</div>
<img src="/public/Desserts-image1.png" alt="">
        

        <div>
            <a href="#Tarteaupommes"><p>Tarte aux Pommes</p> </a>
           
<img src="/public/Dessert-image2.png" alt="">
        
</div>
    </div>
</div> 
 <%- include ("../partials/footer") %>