<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
</head>
<body>
    <div class="categories">
        <div class="entre"><h3>Entree</h3><p>Des entrees delicieuses pour commencer le repas!</p><img src="/Marmiplon/public/image 10.png"></div>
        <div class="plat"><h3>Plat</h3><p>Des plats savoureux pour le cœur du repas.</p><img src="/Marmiplon/public/image 10.png"></div>
        <div class="dessert"><h3>Dessert</h3><p>Des desserts sucrés pour terminer le repas sur une note agréable.</p><img src="/Marmiplon/public/image 10.png"></div>
    </div>

    <div class="monthCard"> <h2 class="monthRecipe">RECIPE OF THE MONTH</h2> 
    
    <div class="theCard">

        <img src="/Marmiplon/public/Mask group.png">

        <h3>
            ingredients
        </h3>
        <p>
            1 Avocados, 200gm cherry tomatoes, few leaves of coriander, 1 small onion, herbe de provence, salt, lime
        </p>

        <h3>
            methods:
        </h3>
        <p>
            Cut the avocados and tomatoes.
            Add seasonings, salt to taste and a squeeze of lime.
            Enjoy with a glass of fresh lemonade!
        </p>
    </div>
    </div>
</body>
</html>