
<%- include("../partials/head", {title: "Welcome Bon Plated"}) %>

<%-
    <section class="homepageCentral">
        <div class="allCat">
            <div class="entree">
                
            </div>

            <div class="plat">

            </div>

            <div class="dessert">

            </div>
        </div>
    </section> %>


 <%- include ("../partials/footer") %>