
<%- include("../partials/head", {title: "Welcome Bon Plated"}) %>
<div>
    <h1 Plats Principaux h1></h1>

    <div class="container">
        <div>
            <p>Pâtes Carbonara</p><a href="PateCarbonara"></a>
<img src="PlatsPrincipaux-image1.png" alt="">
        
</div>

        <div>
            <p>Poulet Rôti</p> <a href="PouletRôti"></a>
<img src="PlatPrincipaux-image2.png" alt="">
       
</div>
    </div>
</div>
<%- include ("../partials/footer") %>