
<%- include("../partials/head", {title: "Welcome Bon Plated"}) %>
<div class="container">
    <h1>Plat Principaux</h1>

    <div class="cards">
        <div class="card">
            <p>Pâtes Carbonara</p>
            <a href="/Carbonara">
                <img src="/PlatsPrincipaux-image1.png" alt="Pâtes Carbonara">
            </a>
        </div>

        <div class="card">
            <p>Poulet Rôti</p>
            <a href="/Poulet Rôti">
                <img src="/PlatsPrincipaux-images2.png" alt="Salade Grecque">
            </a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>