<div>
    <h1 Plats Principaux h1></h1>

    <div class="container">
        <div>
            <p>Pâtes Carbonara</p>

        </div>

        <div>
            <p>Poulet Rôti</p>

        </div>
    </div>
</div>