<%- include("../partials/head", {title: "Welcome Bon Plated"}) %>
<div>
    <h1 Entrées h1></h1>

    <div class="container">
        <div class=card1>
            <a href="#Bruschetta"><p>Bruschetta</p></a>
<img src="./public/Entree-image1.png" alt="">
       
</div>
    </div>
    <div class="card2">
        <div>
       <a href="#SaladeGrecque"><p>Salade Grecque</p></a>
            <img src="./public/Entree-image2.png" alt="">
        
        </div>
    </div>

</div>
</div>
</div>
<%- include ("../partials/footer") %>