<%- include("../partials/head", {title: "Welcome Bon Plated" }) %>

<div class="container">
    <h1>Entree</h1>
<% starters.forEach((starter) => { %> 
        <div class="card">
             
            <a href="/starters/<%= starter.id %>"><%= starter.title %></a>
            <img src="/Entree-image2.png" alt="">
        </div>
<% }) %>
        
    </div>
</div>

    <%- include ("../partials/footer") %>