<div>
    <h1 Entrées h1></h1>

    <div class="container">
        <div>
            <p>Bruschetta</p>

        </div>

        <div>
            <p>Salade Grecque</p>

        </div>
    </div>
</div>