<%- include("../partials/head", {title: "Welcome Bon Plated" }) %>

<div class="container">
    <h1>Entree</h1>

    <div class="cards">
        <div class="card">
            <p>Bruschetta</p>
            <a href="/Bruschetta">
                <img src="/Entree-image1.png" alt="Bruschetta">
            </a>
        </div>

        <div class="card">
            <p>Salad Grecque</p>
            <a href="/SaladeGrecque">
                <img src="/Entree-image2.png" alt="Salade Grecque">
            </a>
        </div>
    </div>
</div>

    <%- include ("../partials/footer") %>